# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# ML Artifacts
*.pkl

# VS Code / Cursor
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Processed Data CSVs
data/processed/*.csv

# Local Databases
*.db
*.sqlite

# Logs and Caches
backend/logs/
*.log
*.log.*

